.app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow: auto;
  color: #ddd;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.app-sidebar-item {
  padding: 10px 20px;
  cursor: pointer;
}

.app-sidebar-item:hover {
  background-color: var(--palette-primary-deep)
}
